.sidebar {
    position: fixed;
    left: 80vw;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    border-left: 1px solid #ececec;
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
}

.gap {
    padding: 15px;
}

.navItem {
    padding: 3px 10px;
}

.navItemText {
    color: #1d1b1b50;
    text-decoration: solid;
    font-size: 0.8rem;
}

.navItemText:hover {
    opacity: 0.6;
    text-decoration: none;
    color: black
}

#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}