.topbar {
    background-color: #0b1c2b;
    padding-top: 30px;
    position: sticky;
    top:0;
    z-index:1;
}

#basic-nav-dropdown {
    color: white
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#nav-link {
    color: white
}

#active {
    visibility: visible;
    transition: all 200ms ease-in;
}
#hidden {
    visibility: hidden;
    transition: all 200ms ease-out;
    transform: translate(0, -100%);
}